body,html
{
    margin: 0;
    height: 100%;
}
.main
{
    width: 100%;
    height: 100%;
}
.poster-container
{
    width: 100%;
    height: 100%;
    .editor-container
    {
        display: flex;
        justify-content: center;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        background-color: #e1e1e1;
        #editor
        {
            width: 100%;
            height: 100%;
            border: 1px solid black;
            border-radius: 6px;
            box-shadow: 0 0 6px #00000089;
            
        }
    }
    .editorbox-container
    {
        border: 1px dashed #3a5268;
        position: absolute;
        transform: translate(-50%,-50%);
        pointer-events: none;
        .editorbox-anchor
        {
            pointer-events: all;
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: #5fa1d9;
            transform: translate(-50%,-50%);
        }
        .left
        {
            left: 0 !important;
            top: 50%;
        }
        .top
        {
            top:0 !important;
            left: 50%;
        }
        .right
        {
            right: 0 !important;
            left: 100% !important;
            top: 50%;
        }
        .bottom
        {
            bottom: 0 !important;
            top: 100% !important;
            left: 50%;
        }
    }
    .hidden
    {
        display: none;
    }
}