@HeadHeight:60px;
body
{
    padding-top: @HeadHeight;
}
.text-col
{
    text-align: center;
}
.row-button
{
    display: flex;
    .el-col
    {
        flex-shrink: 0;
        flex-grow: 0;
    }
}
.el-header
{
    background:rgb(140, 197, 255);
    .e-header
    {
        h1{
            height: @HeadHeight;
            line-height: @HeadHeight;
            font-size: 1.2em;
            margin: 0;
        }
    }
}
.e-table
{
    height: 86.4vh;

}
.el-dropdown
{
    float: right;
    height: @HeadHeight;
    .fa{
        vertical-align: middle;
    }

}
.el-dropdown:before
{
    display: inline-block;
    vertical-align: middle;
    content: '';
    height: 100%;
}
.sidebar-active-btn
{
    height: @HeadHeight;
    display:flex;
    align-items: center;
    font-size: 14px;
    color: #606266;
}
.el-header
{
    position: fixed;
    width: 100%;
    height: @HeadHeight;
    z-index: 10;
    top:0;
}