@HeadHeight: 60px;

body {
    padding-top: @HeadHeight;
}

body,
html {
    height: auto;
}

.text-col {
    text-align: center;
}

.row-button {
    display: flex;

    .el-col {
        flex-shrink: 0;
        flex-grow: 0;
    }
}

.el-header {
    background: rgb(140, 197, 255);

    .e-header {
        h1 {
            height: @HeadHeight;
            line-height: @HeadHeight;
            font-size: 1.2em;
            margin: 0;
        }
    }
}

.el-dropdown {
    float: right;
    height: @HeadHeight;

    .fa {
        vertical-align: middle;
    }

}

.el-dropdown:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    height: 100%;
}

.sidebar-active-btn {
    height: @HeadHeight;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #606266;
}

.el-header {
    position: fixed;
    width: 100%;
    height: @HeadHeight;
    z-index: 10;
    top: 0;
}

.el-main {
    .el-pagination-block {
        text-align: center;
    }

}

.fa-spin-once {
    -webkit-animation: fa-spin 1 1s ease-in-out;
    animation: fa-spin 1 1s ease-in-out;
}
@outsideBase:#efefef;
.outside-container {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
    transition: .3s;
    background: @outsideBase;
    z-index: 20;

}
.background
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    transform: translate(-100%,0);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0);
    transition: .3s;
}
.active
{
    transform: translate(0,0);
}
.active.outside-container
{
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
.background.active
{
    background-color: rgba(0, 0, 0, .4);
}

.outside-content {
    text-align: center;
    z-index: 15;
    .headImg
    {
        padding: 15px;
        box-sizing: border-box;
        img
        {
            max-width: 100px;
            clip-path: circle(50%);
        }

    }
    .nickName
    {
        p{
            margin: 0;
        }
    }
    ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
        li
        {
            margin: 20px 5px;
            .el-button
            {
                width: 100%;
            }
        }
    }
}
.el-dropdown-menu
{
    text-align: center;
}