extends ./base/layout.pug

block header
    title 表单填写
block main
    if userInfo.is_login
        h1 登陆了
        h2 您好 #{userInfo.nickname} #{userInfo.sex==1?'先生':'女士'}
    else
        h1 未登录
        script.
            wechatGetway.login();
    div
        form 姓名：
            input( type="text" name="usename" class="input-usename")
                 scss.
                    left:10px;
        br
        form 手机号：
            input( type="text" name="" class="")
