extends ./base/login.pug
block header
    title 表单填写
block append main
    .block-main
        .block
            div.head-title
                h1 免费
                h1 您获得了一个礼包
            .avatar
                img(src=userInfo.headimgurl,class="head-img")
                //- userInfo.headimgurl
                p #{userInfo.nickname}
                h3 送你一份大礼包
            div( class="user")
                form(class="input-usenameform" id="infoForm" action="form/upstream" method="post" ) 
                    input( type="text" name="username" class="input-usename" placeholder="姓名")
                    input( type="text" name="userphone" class="input-usephone" placeholder="手机号")
                    .captcha
                        input( type="text" name="captcha" class="input-captcha" placeholder="验证码")
                        img(class="img-captcha" src="form/captcha")
                    .user-button 提交
            script.
                function updateCaptcha()
                {
                    $('.img-captcha').attr('src','form/captcha?time='+Date.now());
                }            
                $('.user-button').on('click',function(){
                    $.post('form/upstream',$('#infoForm').serialize(),function(data){
                        if(data.success)
                        {
                            alert('提交成功');
                        }
                        else{
                            alert("提交失败\n"+data.errorInfo?data.errorInfo:'');
                        }
                        updateCaptcha();
                    });
                })
                $('.img-captcha').on('click',updateCaptcha)
