extends ./base/layout.pug

block header
    title 表单填写
block main
    .block-main
        .block
            if userInfo.is_login
                h1 登陆了
                h2 您好 #{userInfo.nickname} #{userInfo.sex==1?'先生':'女士'}
            else
                h1 未登录
                script.
                    wechatGetway.login();
            div( class="user")
                form(class="input-usenameform" ) 
                    input( type="text" runname="username" class="input-usename" placeholder="姓名")
                    input( type="text" name="userphone" class="input-usephone" placeholder="手机号")
                    input(type="submit")
