extends ./base/layout.pug

block header
    title 表单填写
block main
    if userInfo.is_login
        h1 登陆了
        h2 您好 #{userInfo.nickname} #{userInfo.sex==1?'先生':'女士'}
    else
        h1 未登录
        script.
            wechatGetway.login();
    div( class="input-use")
        form(class="input-usenameform" ) 姓名：
            input( type="text" name="usename" class="input-usename" )
        br
        form 手机号：
            input( type="text" name="" class="")
