extends ./base/login.pug

block header
    title 海报生成
block append main
    .poster-container
        .editor-container
            .editor-warpper
                canvas#editor
        .editor-toolbox-container
            .editor-toolbox-head
                //-div(class="editor-toolbox-cell")
                    //- i(class="fa fa-angle-up fa-lg")
            .editor-toolbox-content
                div(class="editor-toolbox-warper hidden first")
                    //- div(class="editor-toolbox-cell layout")
                    //-     i(class = "fa fa-th-list fa-lg")
                    //-     div 图层
                    //- div(class="editor-toolbox-cell canvas")
                    //-     i(class = "fa fa-square-o fa-lg")
                    //-     div 画布
                    //- div(class="editor-toolbox-cell save")
                    //-     i(class = "fa fa-floppy-o fa-lg")
                    //-     div 保存
                div(class="editor-toolbox-warper hidden second")
                div(class="editor-toolbox-warper hidden third")
    .modal
        div(class='modal-mask hidden')
        div(class='modal-container hidden')
            .modal-head
                .modal-close X
            .modal-content
                .modal-title 生成结果 长按保存
                .modal-body
                    img(src="")
            .modal-footer

        
        
            

                

    script(src = "https://cdnjs.cloudflare.com/ajax/libs/three.js/107/three.min.js")
    script(src = locals.webSideRootPath+"static/script/editor.js")
    script.
        function is_weixin() {
            var ua = window.navigator.userAgent.toLowerCase();
            return ua.match(/MicroMessenger/i) == 'micromessenger';
        }

        $(function(){
            var editor = new PictureEditor($('#editor')[0]);
            (new THREE.TextureLoader).load('#{qr.url}',function(qrcode){
                qrcode.magFilter = qrcode.minFilter = THREE.LinearFilter;
                editor.addImg(qrcode);
            });
            window.editor = editor;
            var toolbox = new ToolBox(editor);
            if(is_weixin())
            {
                $('.modal img').addClass('wechat');
            }
            editor.downloadIamge = function(url,dataUrl){
                $('.modal img').attr('src',dataUrl);
                $('.modal-mask,.modal-container').removeClass('hidden')
            }            
            $('.modal-close,.modal-mask').on('click',function(){
                $('.modal-mask,.modal-container').addClass('hidden')
            })
            //- function test(clicked){
            //-     if(clicked.length>0)
            //-     {
            //-         editor.removeImg(clicked[0].id);
            //-     }
            //- }
            //- editor.on('pointDown',test);
            //- editor.off('pointDown',test);
        })