extends ./base/login.pug

block header
    title 用户中心
    link(rel="stylesheet", href=locals.webSideRootPath+"static/style/usercenter.css")
    link(rel="stylesheet", href='https://unpkg.com/element-ui@2.11.0/lib/theme-chalk/index.css')
    script(src="https://cdn.jsdelivr.net/npm/vue")
    script(src="https://unpkg.com/element-ui@2.11.0/lib/index.js")
block append main 
    #app
        el-container
            el-header
                el-row(class="e-header")
                    el-col( :span="8")
                        el-dropdown(class="e-dropdown")
                            i(class="fa fa-navicon  fa-3x")
                            el-dropdown-menu(slot="dropdown")
                                el-dropdown-item  查看
                                el-dropdown-item  查看
                                el-dropdown-item  查看
                    el-col( :span="8")(class="text-col")
                        a 用户填写记录
                    el-col( :span="8")
        el-main
                el-table( :data="tableData")
                    el-table-column(prop="date" label="日期")
                    el-table-column(prop="name" label="姓名")
                    el-table-column(prop="address" label="地址")
        el-footer(class="e-footer")
    script.
        const item = {
            date: '2016-05-02',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1518 弄'
        };       
        new Vue({
            el:'#app',
            data:function(){
                return {
                    tableData: Array(20).fill(item)
                }
            }
        })